.root {
  padding: 26px 70px;
  margin: 0px auto;
}

/* Mobile */
@media (max-width: 1500px) {
  .root {
    padding: 26px 50px;
  }
}

@media (max-width: 999px) {
  .root {
    padding: 26px 30px;
  }
}

@media (max-width: 699px) {
  .root {
    padding: 26px 20px;
  }
}
