.root {
  display: inline-flex;
  align-items: center;
  font: var(--font-s);
  color: #fff;
  height: 24px;
  background: var(--red-accent);
  position: relative;
}

.leftTriangle {
  position: absolute;
  content: '';
  right: 100%;
  top: 0;
  width: 0;
  height: 0;
  border: 0 solid transparent;
  border-top-width: 24px;
  border-bottom-width: 0px;
  border-right: 14px solid var(--red-accent);
}
.rightTriangle {
  position: absolute;
  content: '';
  left: 100%;
  top: 0;
  width: 0;
  height: 0;
  border: 0 solid transparent;
  border-top-width: 0px;
  border-bottom-width: 24px;
  border-left: 14px solid var(--red-dark);
}
